<div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <app-notification-component [isVisible]="notificationVisible" [type]="notificationType" [title]="notificationTitle"
        [message]="notificationMessage"></app-notification-component>

    <section class="mb-8">
        <h2 class="text-2xl font-bold text-gray-800 mb-4">Flash Sales 🔥</h2>
        <div class="grid grid-cols-5 gap-2">

            <div class="bg-yellow-500 rounded-lg col-span-5 md:col-span-3 flex items-center justify-center">
                <h3 class="text-xl font-semibold text-blue-800 text-center">Slide here</h3>
            </div>

            <div class="col-span-5 md:col-span-2 flex flex-col gap-2">
                <div class="bg-white rounded-lg shadow-md p-0 flex items-center justify-center h-48 overflow-hidden">
                    <img src="/images/banner_sale_up_50_percents.jpg" alt="Banner Sale"
                        class="w-full h-full object-cover">
                </div>
                <div class="bg-white rounded-lg shadow-md p-0 flex items-center justify-center h-48 overflow-hidden">
                    <img src="/images/banner_online_shopping.jpg" alt="Banner Online Shopping"
                        class="w-full h-full object-cover">
                </div>

            </div>
        </div>
    </section>

    <section class="mb-8">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-2xl font-bold text-gray-800">Danh mục sản phẩm</h2>
        </div>
        <div class="grid grid-cols-4 md:grid-cols-6 lg:grid-cols-10 gap-2"
            *ngIf="categories && categories.length > 0; else noCategories">
            <ng-container *ngFor="let category of categories">
                <a [routerLink]="['/detail-category', category.id]"
                    class="rounded-md overflow-hidden shadow-sm hover:shadow-md transition-shadow duration-300"
                    [title]="category.name">
                    <div class="w-full h-3/4 p-2">
                        <img [src]="'https://raw.githubusercontent.com/vtrnguyen/hosting-image-file/refs/heads/main/oribuyin/categories/' + category.image"
                            [alt]="category.name" class="w-full h-full object-contain">
                    </div>
                    <div class="p-1 text-sm text-center">
                        <h3 class="font-semibold text-gray-700 truncate">{{ category.name }}</h3>
                    </div>
                </a>
            </ng-container>
        </div>
        <ng-template #noCategories>
            <p class="text-gray-500 text-center">Hiện chưa có danh mục sản phẩm nào.</p>
        </ng-template>
    </section>

    <section class="mb-4">
        <div class="flex justify-between items-center mb-4">
            <h2 class="text-2xl font-bold text-gray-800">Gợi ý sản phẩm hôm nay</h2>
            <a routerLink="/products" *ngIf="suggestedProducts && suggestedProducts.length > 0"
                class="text-blue-600 hover:text-blue-700 font-semibold transition-colors duration-300">Xem thêm <i
                    class="fa-solid fa-arrow-right ml-1"></i></a>
        </div>
        <div *ngIf="suggestedProducts && suggestedProducts.length > 0; else noProducts"
            class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 gap-2">
            <app-product-item-component *ngFor="let suggestedProduct of suggestedProducts"
                [product]="suggestedProduct"></app-product-item-component>
        </div>
        <ng-template #noProducts>
            <p class="text-gray-500 text-center">Hiện chưa có sản phẩm gợi ý nào.</p>
        </ng-template>
    </section>
</div>