<div class="flex h-screen bg-white relative">
  <div class="hidden lg:flex items-center justify-center flex-1 bg-blue-100 text-blue-800">
    <img src="images/forgot_password.gif" alt="Quên mật khẩu" class="max-w-md" />
  </div>

  <div class="w-full lg:w-1/2 flex items-center justify-center">
    <div class="max-w-md w-full p-6">
      <h1 class="text-3xl font-semibold mb-6 text-blue-700 text-center">Quên mật khẩu</h1>

      <form (ngSubmit)="onSubmit(forgotPasswordForm)" #forgotPasswordForm="ngForm" class="space-y-4">
        <div>
          <input type="text" id="emailOrUsername" name="emailOrUsername" [(ngModel)]="forgotPasswordData.identifier"
            placeholder="Nhập email hoặc tên đăng nhập"
            class="mt-1 p-2 w-full border rounded-md focus:border-blue-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-300 transition-colors duration-300"
            required>
        </div>

        <div>
          <button type="submit"
            class="w-full bg-blue-500 text-white p-2 rounded-md hover:bg-blue-700 focus:outline-none focus:bg-blue-500 focus:ring-2 focus:ring-offset-2 focus:ring-blue-500 transition-colors duration-300 cursor-pointer">
            Gửi yêu cầu
          </button>
        </div>
      </form>

      <div *ngIf="errorMessage" class="text-red-600 text-sm mt-4 text-center">
        {{ errorMessage }}
      </div>

      <div class="mt-4 text-sm text-gray-600 text-center">
        <p>
          <a href="/login" class="text-blue-700 hover:underline focus:outline-none focus:underline">Quay lại đăng
            nhập</a>
        </p>
      </div>
    </div>
  </div>

  <div class="absolute bottom-4 left-4 text-sm text-gray-500 hidden lg:block font-bold">
    &copy; 2025 Bản quyền sở hữu thuộc về Origin Dev.
  </div>
</div>