<div class="bg-white rounded-lg shadow-md overflow-hidden flex flex-col transition-shadow duration-300 hover:shadow-lg relative py-2"
    [title]="product.name">
    <a [routerLink]="['/detail-product', product.id]" class="block h-full">
        <div class="w-full h-40 md:h-52 lg:h-64 p-2">
            <img [src]="product.image ? 'https://raw.githubusercontent.com/vtrnguyen/hosting-image-file/refs/heads/main/oribuyin/products/' + product.image : 'images/oribuyin_logo.png'"
                [alt]="product.name" class="w-full h-full object-contain">
        </div>
        <div class="p-3 flex flex-col flex-grow">
            <h3 class="font-semibold text-gray-700 text-base truncate">{{ product.name }}</h3>
            <p class="text-gray-600 text-sm mb-1">
                Giá:
                <span *ngIf="product.discount > 0; else originalPrice" class="font-bold text-red-600">
                    {{ product.price * (1 - product.discount / 100) | number : '1.0-0' }} VNĐ
                </span>
                <ng-template #originalPrice>
                    <span class="font-bold text-red-600">{{ product.price | number : '1.0-0' }} VNĐ</span>
                </ng-template>
                <span *ngIf="product.discount > 0" class="text-gray-500 text-xs line-through ml-2">{{ product.price |
                    number
                    :
                    '1.0-0' }} VNĐ</span>
            </p>
            <p class="text-gray-500 text-xs" *ngIf="product.stockQuantity > 0; else outOfStock">
                Tồn kho: {{ product.stockQuantity }}
            </p>
            <ng-template #outOfStock>
                <p class="text-red-600 text-xs font-semibold">Hết hàng</p>
            </ng-template>
        </div>
        <div *ngIf="product.discount > 0" class="absolute -top-5 -left-6 w-24 h-24 overflow-hidden">
            <div
                class="absolute rotate-[-35deg] bg-red-600 text-white text-center py-1 font-semibold text-xs w-32 left-[-10px] top-6">
                -{{ product.discount | number: '1.0-0' }}%
            </div>
        </div>
    </a>
</div>