<div class="container mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-2xl font-semibold text-gray-800 mb-4">Kết quả tìm kiếm</h1>

    <div *ngIf="products.length > 0; else noResults">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            <div *ngFor="let product of products">
                <app-product-item-component [product]="product"></app-product-item-component>
            </div>
        </div>
        <div *ngIf="totalRecords > pageSize" class="mt-8 flex justify-center">
            <nav aria-label="Page navigation">
                <ul class="inline-flex items-center -space-x-px">
                    <li>
                        <button (click)="previousPage()" [disabled]="currentPage === 1"
                            class="py-2 px-3 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 cursor-pointer transition-all duration-200"
                            [ngClass]="{'opacity-50 cursor-not-allowed': currentPage === 1}">
                            <span class="sr-only">Trước</span>
                            <i class="fa-solid fa-chevron-left"></i>
                        </button>
                    </li>
                    <li *ngFor="let page of pages" [ngClass]="{'active': page === currentPage}">
                        <button (click)="changePage(page)"
                            class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 cursor-pointer transition-all duration-200"
                            [ngClass]="{'bg-blue-500 text-white hover:bg-blue-700': page === currentPage}">
                            {{ page }}
                        </button>
                    </li>
                    <li>
                        <button (click)="nextPage()" [disabled]="currentPage === totalPages"
                            class="py-2 px-3 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 cursor-pointer transition-all duration-200"
                            [ngClass]="{'opacity-50 cursor-not-allowed': currentPage === totalPages}">
                            <span class="sr-only">Sau</span>
                            <i class="fa-solid fa-chevron-right"></i>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <ng-template #noResults>
        <div class="text-gray-500 text-center py-12 text-lg">Không tìm thấy sản phẩm nào phù hợp.</div>
    </ng-template>
</div>